In [1]:
import pandas as pd
import requests
from io import StringIO

In [2]:
mtlcollisions_csv = "https://donnees.montreal.ca/dataset/cd722e22-376b-4b89-9bc2-7c7ab317ef6b/resource/05deae93-d9fc-4acb-9779-e0942b5e962f/download/collisions_routieres.csv"

In [3]:
def download_csv(url):
    response = requests.get(url)
    # Raise an exception for bad status codes
    response.raise_for_status()  
    return response.text

In [4]:
# Dowload data
csv_data = download_csv(mtlcollisions_csv)

# Read CSV data into pandas DataFrame
mtlcollisions_df = pd.read_csv(StringIO(csv_data))

In [5]:
# Now 'df' contains your CSV data as a pandas DataFrame
print(mtlcollisions_df.dtypes)

NO_SEQ_COLL         object
JR_SEMN_ACCDN       object
DT_ACCDN            object
CD_MUNCP           float64
NO_CIVIQ_ACCDN     float64
                    ...
LOC_COTE_PD          int64
LOC_DETACHEE        object
LOC_IMPRECISION     object
LOC_LONG           float64
LOC_LAT            float64
Length: 68, dtype: object

In [6]:
mtlcollisions_df.columns

Index(['NO_SEQ_COLL', 'JR_SEMN_ACCDN', 'DT_ACCDN', 'CD_MUNCP',
       'NO_CIVIQ_ACCDN', 'SFX_NO_CIVIQ_ACCDN', 'BORNE_KM_ACCDN', 'RUE_ACCDN',
       'TP_REPRR_ACCDN', 'ACCDN_PRES_DE', 'NB_METRE_DIST_ACCD',
       'CD_GENRE_ACCDN', 'CD_SIT_PRTCE_ACCDN', 'CD_ETAT_SURFC', 'CD_ECLRM',
       'CD_ENVRN_ACCDN', 'NO_ROUTE', 'CD_CATEG_ROUTE', 'CD_ETAT_CHASS',
       'CD_ASPCT_ROUTE', 'CD_LOCLN_ACCDN', 'CD_POSI_ACCDN', 'CD_CONFG_ROUTE',
       'CD_ZON_TRAVX_ROUTR', 'CD_PNT_CDRNL_ROUTE', 'CD_PNT_CDRNL_REPRR',
       'CD_COND_METEO', 'NB_VEH_IMPLIQUES_ACCDN', 'NB_MORTS',
       'NB_BLESSES_GRAVES', 'NB_BLESSES_LEGERS', 'HEURE_ACCDN', 'AN',
       'NB_VICTIMES_TOTAL', 'GRAVITE', 'REG_ADM', 'MRC',
       'nb_automobile_camion_leger', 'nb_camionLourd_tractRoutier',
       'nb_outil_equipement', 'nb_tous_autobus_minibus', 'nb_bicyclette',
       'nb_cyclomoteur', 'nb_motocyclette', 'nb_taxi', 'nb_urgence',
       'nb_motoneige', 'nb_VHR', 'nb_autres_types', 'nb_veh_non_precise',
       'NB_DECES_PIETON', 'NB_BLESSES_PIETON', 'NB_VICTIMES_PIETON',
       'NB_DECES_MOTO', 'NB_BLESSES_MOTO', 'NB_VICTIMES_MOTO', 'NB_DECES_VELO',
       'NB_BLESSES_VELO', 'NB_VICTIMES_VELO', 'VITESSE_AUTOR', 'LOC_X',
       'LOC_Y', 'LOC_COTE_QD', 'LOC_COTE_PD', 'LOC_DETACHEE',
       'LOC_IMPRECISION', 'LOC_LONG', 'LOC_LAT'],
      dtype='object')

In [7]:
mtlcollisions_df.head(5)

,NO_SEQ_COLL,JR_SEMN_ACCDN,DT_ACCDN,CD_MUNCP,NO_CIVIQ_ACCDN,SFX_NO_CIVIQ_ACCDN,BORNE_KM_ACCDN,RUE_ACCDN,TP_REPRR_ACCDN,ACCDN_PRES_DE,...,NB_VICTIMES_VELO,VITESSE_AUTOR,LOC_X,LOC_Y,LOC_COTE_QD,LOC_COTE_PD,LOC_DETACHEE,LOC_IMPRECISION,LOC_LONG,LOC_LAT
0,SPVM _ 2012 _ 1,ME,2012/02/01,66102.0,3501.0,NaN,NaN,ST CHARLES,2.0,STAT,...,0,NaN,276517.37950,5.035127e+06,A,3,O,N,-73.861616,45.455505
1,SPVM _ 2012 _ 10,MA,2012/01/03,66023.0,NaN,NaN,NaN,TERR VILLE DE MTL,NaN,NaN,...,0,NaN,275209.46185,5.038619e+06,B,4,N,N,-73.878549,45.486871
2,SPVM _ 2012 _ 100,VE,2012/02/24,66023.0,NaN,NaN,NaN,JACQUES BIZARD,1.0,CHERRIER,...,0,50.0,275759.07900,5.039027e+06,A,1,N,O,-73.871542,45.490564
3,SPVM _ 2012 _ 1000,JE,2012/10/11,66142.0,11800.0,NaN,NaN,BD SALABERRY,NaN,NaN,...,0,NaN,280970.09315,5.038348e+06,A,1,O,N,-73.804841,45.484648
4,SPVM _ 2012 _ 10000,DI,2012/04/22,66023.0,38.0,NaN,NaN,PL DU COMMERCE,NaN,NaN,...,0,NaN,301391.47638,5.036357e+06,A,1,O,N,-73.543590,45.467136

In [10]:
mtlcollisions_df.to_csv("raw_csv_output")

SyntaxError: unterminated string literal (detected at line 1) (3400989308.py, line 1)